[Unit]
Description=Nova Metadata API server

[Service]
ExecStart=/usr/bin/nova-api-metadata --config-file=/etc/nova/nova.conf
User=nova

[Install]
WantedBy=multi-user.target
