[Unit]
Description=Nova spice proxy

[Service]
ExecStart=/usr/bin/nova-spicehtml5proxy --config-file=/etc/nova/nova.conf
User=nova

[Install]
WantedBy=multi-user.target
