[Unit]
Description=Nova NoVNC proxy

[Service]
ExecStart=/usr/bin/nova-novncproxy --config-file=/etc/nova/nova.conf
User=nova

[Install]
WantedBy=multi-user.target
