[Unit]
Description=Nova baremetal

[Service]
ExecStart=/usr/bin/nova-baremetal-deploy-helper --config-file=/etc/nova/nova.conf
User=nova

[Install]
WantedBy=multi-user.target
